body{
    min-height: 200vh;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
header{
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
header .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(ezgif-2-3d362f6b2e.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 120%;
    height: 120%;
    filter: brightness(30%);
}
header .content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    filter: brightness(80%);
}
header .content h1{
    font-size: 4em;
    margin-bottom: -10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    }
header .content p{
    margin-bottom: 2em;
    color: #9ea2a5;
    font-size: 1.5em;

    
}
.logo{
    height: 200px;
    filter: drop-shadow(1px 1px 10px #1e5d1a);
    margin-top: 100px;
    margin-left: -50px;

}
.button{
    font-size: 2.5em;
    color: rgb(10, 149, 17);
    text-decoration: none;
    border: 3px solid rgb(10, 149, 17);
    padding: 13px;
    border-radius: 5px;
}
.nom{
    display: flex;
    color: white; 
}
.name{
    margin-left: 15px;
    color: rgb(10, 149, 17);
    
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd153;
background: linear-gradient(90deg, rgb(132, 230, 129) 0%, rgb(18, 149, 38) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(39, 129, 27, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: none;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, 
.button:focus {
  color: white;
  transform: translateY(-6px);
}

.button:hover::before, 
.button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after, 
.button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
html{
    scroll-behavior: smooth;
}
.navigator{
    background-color: #49494d;
    width: 100%;
    height: 70px;
    box-shadow: 1cap 0 40px 10px rgb(0, 0, 0);
    
}
body{
    background-color:  #1a1a1a;
}
.icons{
    font-size: 2em;
    float: right;
    margin-left: 23px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}
.icon{
    margin-right: 50px;
    padding-top: 10px;
}
.icons:hover{
    color: rgb(10, 149, 17);
    transition: 0.5s;
}
#sectionOne:target ~ .section .icons#one,
#sectionTwo:target .icons#two,
#sectionThree:target .icons#three,
#sectionFour:target .icons#four {
    color: rgb(10, 149, 17);
    transition: 0.5s;
}

body:not(:has(:target)) #one {
    color: rgb(10, 149, 17);
    transition: 0.5s;
}
.small{
    height: 25px;
    width: 150px;
    background: linear-gradient(90deg, rgb(30, 161, 25) 0%, rgb(6, 86, 18) 100%);
    margin-left: 48%;
    margin-top: 16%;
}
.About{
    font-size: 50px;
    position: absolute;
    left: 45%;
    margin-top: -30px;
    color: white;
}
.p{
    color: white;
}
.parag{
    width: 600px;
    font-size: 20px;
    margin-left: -230px;
}
.kalsita{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    margin-bottom: 70px;
    margin-top: 40px;
}
img {
    border-radius: 10px;
    height: 80px;
}
.languages{
color: white;
margin-left: 40px;


}
.containermini{
    display: block;
    margin-left: 20px;
}
.containermor{
    display: flex;
    margin-left: -200px;
}
.class2{
    height: 500px;
    margin-top:400px ;
}
.small2{
    height: 25px;
    width: 150px;
    background: linear-gradient(90deg, rgb(30, 161, 25) 0%, rgb(6, 86, 18) 100%);
    margin-left: 48%;
    margin-top: 16%;
}
#sectionThree{
    margin-top: 1150px;
}
.container2{
    height: 500px;
    width: 500px;
    margin-top: 150px;
}
.image{
    border: 50px solid rgb(25, 123, 8);
    border-left: none;
    border-right: 80px solid rgb(25, 123, 8);
    border-radius: 0;
    transition: 0.5s;

    height: 600px;
}
.image:hover{
    transform: scale(0.9);
    transition: 0.5s;
}
.mythicallyrics{
    margin-left: 830px;
    margin-top: -400px;
    color: white;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.6px;
    font-size: 30px;
}
.buttons{
   margin-left: 830px; 
   margin-top: -250px;
}
.liveApp{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid brown;
    transition: 0.5s;
    border-radius: 5px;
    position: absolute;

}
.liveApp:hover{
    background: linear-gradient(90deg, brown 0%, rgb(209, 91, 91) 100%);
    border: none;
    transition: 0.5s;
    padding: 10px;
}
.container4{
    margin-top: 500px;
}
#sectionFour{
    margin-top: 600px;
}
.contact{
    color: white;
    margin-top: 50px;
    width: 500px;
    font-size: 20px;
    text-align: center;
}
.contain{
    margin-top: 50px;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.input1{
    width: 50px;
    margin-left: 150px;
}
input{
    margin-bottom: 10px;
    width: 250px;
    height: 25px;
    border: none;
    border-radius: 5px;
    padding-left: 9px;
    background-color: rgb(65, 65, 65);
    color: white;
}
.text{
    height: 200px;
    background-color: rgb(65, 65, 65);
    resize: none;
    width: 255px;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.buttom{
    margin-left: 200px;
    margin-top: 10px;
    background-color: #1a1a1a;
    border: none;
    color: white;
    border-bottom: 4px solid brown;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;

}
.buttom:hover{
    background: linear-gradient(90deg, brown 0%, rgb(209, 91, 91) 100%);

}
.bye{
    background-color: rgb(76, 76, 76);
    width: 100%;
    height: 100px;
}
.github{
    margin-left: 50%;
    height: 50px;
    margin-top: 25px;
    transition: 0.5s;
}
.github:hover{
    height: 55px;
}